<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>About</title>
        
    </head>
    <body>
        <% include partials/navigation.ejs %>
       <h1>About Page !!</h1>
       <p>Welcome to the About</p>
       
        <p><%= urlData.name %> is in <%= urlData.location %></p>
    </body>
</html>